html {
  scroll-behavior: smooth;
  }
  
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

a.nav-link{ color:#0dcaf0 !important }

a, button.btn  { color:white}

.fixed-top.scrolled, button.btn  {
  background-color:#2893A6 !important;
  transition: background-color 200ms linear;
}

